<% stylesheet('/RxvRemote/www/less/RxvRemote.css'); %>
<% script ('http://localhost:15678/socket.io/socket.io.js') %>
<% script ("/RxvRemote/www/portlet.js") %>

<!-- Title -->
<div class="container-fluid portlet-handle">
	<div class="row main-row">
		<div class="col-xs-1 engren"></div>
		<div class="col-xs-8 col-xs-offset-1"><p class='amp-model'></p></div>
		<div class="col-xs-1"><p class='glyphicon glyphicon-volume-off mute-ico' id ='mute-swt'></p></div>
		<div class="col-xs-1"><p class='glyphicon glyphicon-off pwr-ico' id ='pwr-swt'></p></div>
	</div>
</div>

<!-- Opacifying rows -->
<div class="container-fluid remove">

	<!-- Sep titles  -->
	<div class="row legend-1">
		<div class="col-xs-3">Volume (dB)</div>
		<div class="col-xs-4 audio-decoder"></div>
		<div class="col-xs-1 ">Strai.</div>
		<div class="col-xs-1 ">Enhan.</div>
		<div class="col-xs-1 ">3D</div>
		<div class="col-xs-2 ">DSP</div>
	</div>

	<!-- Sounds -->
	<div class="row row-display">
		<!-- volumes -->
		<div class="col-xs-1"><p id="dwn-btn"><span class="glyphicon glyphicon-volume-down dwn-ico" ></span></p></div>
		<div class="col-xs-1"><p class="vol-labl"></p></div>
		<div class="col-xs-1"><p id="up-btn"><span class="glyphicon glyphicon-volume-up up-ico"></span></p></div>

		<!-- Surround label -->
		<div class="col-xs-4 srnd info">
			<p class="l1 srnd-labl">
				<span class="glyphicon glyphicon-sound-dolby srnd-glyph"></span>
				<span class="srnd-txt"></span>
			</p>
		</div>
		<div class="col-xs-1"><p class=" l1 straight"></p></div>
		<!-- Ehancer label -->	
		<div class="col-xs-1"><p class=" l1 enhancer"></p></div>
		<!-- 3D Cine -->
		<div class="col-xs-1"><p class=" l1 cine-3d"></p></div>
		<!-- Adaptive DSP label -->
		<div class="col-xs-2"><p class=" l1 adsp"></p></div>
	</div>

	<!-- sep -->
	<!--
	<div class='row legend-2'>
		<div class='col-xs-3'>Input</div>
		<div class='col-xs-2'>Station</div>
		<div class='col-xs-7 scroll-left'>RDS Message</div>
	</div>
	-->
<div class="container-fluid remove2">
	<!-- Input -->
	<div class='row row-info'>
		<div class='col-xs-3'><p class="input"></p></div>
		<div class='col-xs-2'><p class="rds-prog">Station</p></div>
		<div class='col-xs-7 scroll-left'><p class="rds-data">Waiting for RDS datas</p></div>
	</div>
</div>
</div>
