@color: #D2B48C;
/*@lightred: #EF3D47;*/
@neige: #FAF0EA;
/*#6A5F4D; noir*/
/*#555b61; gris */
@blue: #33A6CC;

#RxvRemote {
	cursor: default;
	font-weight: bold;
	* {border-radius: 0px;}


	[class*="col-"] {
		height: 24px;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.container-fluid {
		margin-right: auto;
		margin-left: auto;
	}
/* portlet */
	.portlet-footer {
		position: absolute;
		bottom: 87px;
		.btn {
			.glyphicon { padding: 0px; color: @color;}
		}
	}

	.portlet-body   { 
		height: 100%; 
		padding: 0px;
		left:30px;
	}

	.portlet-header { display: none; }

/* Main Title */
	.main-row {
		background-color: @color;
		padding-top: 4px;
		text-align: center;
	}

	.title { text-align: center;
		a {
			color: #FAF0EA;
			text-decoration: none;
		}
	}

/* buttons */
	.pwr-ico, .mute-ico { cursor: pointer; font-size: 16px;}

	.vol { color: #6A5F4D;
		.vol-labl { font-weight: bold;}
		.vol-labl:hover { cursor: default; }
	}

	.label-default {}

	.row-info { background-color: #777; }

	.inp-data-2 {overflow: hidden;}

/* Separators (dividers) */
	.sep-title {
		margin-top: 4px;
		height: 16px; 
		font-size: 10px; 
		color: #777;
	}
	.sep { height: 5px; }

}
