@color: #D2B48C;
/*@lightred: #EF3D47;*/
@neige: #FAF0EA;
/*#6A5F4D; noir*/
/*#555b61; gris */
@blue: #33A6CC;

#RxvRemote {
	cursor: default;
	font-weight: bold;


	[class*="col-"] {
		/*border: 1px solid black;*/
		/*border-radius: 6px;*/
		height: 24px;
		padding-left: 0;
		padding-right: 0;
		text-align: center;
	}

	.container-fluid {
		margin-right: auto;
		margin-left: auto;
	}
/* portlet */
	.portlet-footer {
		position: absolute;
		bottom: 2px;
		right: 2px;
		height: 18px;
		padding: 0 0 0 0;
		.btn { font-size: 14px; background-color: transparent; 
			border: none; color: @color; padding: 0 0 0 0;}
	}

	.portlet-body   { 
		height: 100%; 
		padding: 0px; 
		left:30px; 
		border-right: 1px solid #6A5F4D; 
		border-bottom: 1px solid #6A5F4D; 
	}

	.portlet-header { display: none; }

/* Main Title */
	.main-row {	background-color: @color;
		border: 1px solid #6A5F4D;
		border-right: none;
		height: 30px;
		padding-top: 4px;
		text-align: center;
	}

	.title { text-align: center;
		a {	color: #FAF0EA;
			border: 1px solid;
			text-decoration: none;
		}
	}


/* buttons */
	.pwr-ico, .mute-ico { cursor: pointer; }

	.vol { color: #6A5F4D;
		.vol-labl { font-weight: bold;}
		.vol-labl:hover { cursor: default; }
	}
	/*
	.srnd { 
		.srnd-labl, .srnd-glyph { padding-left: 2px; padding-right: 2px; }
	}
	*/
	/*.label-default { font-weight: normal;}*/
	.row-info { background-color: black; }

/* Separators (dividers) */
	.sep-title {
		height: 14px; 
		font-size: 9px; 
		color: #555b61;
		font-style: italic;
		font-weight: normal;
	}
	.sep { height: 5px; }

/* Logo Yam */
	#logo {
		position: absolute;
		top: 0px;
		left: 0px;
		border: 1px solid #6A5F4D;
		width: 30px;
		height: 30px;
		#yam-logo {
			position: absolute;
			display: block;
			margin-left: auto;
			margin-right: auto;
			height: auto;
			width: auto;
		}
	}

	.plugin {
		position: absolute;
		background-color: @color;
		color: @neige;
		border: 1px solid #6A5F4D;
		width: 30px;
		top: 29px;
		bottom: 0;
		.text {
			position: absolute;
			font-size: 18px;
			top: 53%;
			transform: rotate(-90deg) translateX(-100%) translateX(60%);
			transform-origin: left top;
		}
		.vers {
			position: absolute;
			font-size: 10px;
			bottom: 0px;
			width: 30px;
			text-align: center;
		}
	}
}
